### DataFrames - Criação e Fatiamento
É um conjunto de Series.

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Gerando números aleátorios com numpy especificando exatamente quais são:
np.random.seed(101)

In [3]:
# Criando um DataFrame com números aleátorios usando a biblioteca numpy
df = pd.DataFrame(np.random.randn(5,4), index="A B C D E".split(), columns="W X Y Z".split()); df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [4]:
# Visualizando os elementos do dataframe
df["W"]

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [5]:
# Desvendo que tipo de objeto estamos lidando com a função type()
type(df["W"])

pandas.core.series.Series

In [6]:
# Desvendo que tipo de objeto estamos lidando com a função type()
type(df)

pandas.core.frame.DataFrame

In [7]:
# Visualizando os elementos do dataframe
df[["W", "Z"]]

          W         Z
A  2.706850  0.503826
B  0.651118  0.605965
C -2.018168 -0.589001
D  0.188695  0.955057
E  0.190794  0.683509

In [8]:
# Empregando outra forma para visualizar os elementos do dataframe
df.W

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [9]:
# Criando uma nova coluna no dataframe
df["NEW"] = df["W"] + df["Z"]; df

          W         X         Y         Z       NEW
A  2.706850  0.628133  0.907969  0.503826  3.210676
B  0.651118 -0.319318 -0.848077  0.605965  1.257083
C -2.018168  0.740122  0.528813 -0.589001 -2.607169
D  0.188695 -0.758872 -0.933237  0.955057  1.143752
E  0.190794  1.978757  2.605967  0.683509  0.874303

In [10]:
# Deletando a nova coluna com o método drop()
df.drop("NEW", axis=1)

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [11]:
# Observe a coluna "NEW" tornou a voltar aparecer
df

          W         X         Y         Z       NEW
A  2.706850  0.628133  0.907969  0.503826  3.210676
B  0.651118 -0.319318 -0.848077  0.605965  1.257083
C -2.018168  0.740122  0.528813 -0.589001 -2.607169
D  0.188695 -0.758872 -0.933237  0.955057  1.143752
E  0.190794  1.978757  2.605967  0.683509  0.874303

In [12]:
# Existe duas maneiras de fazer isso:
    # Primeira:
        # Podemos atribuir uma nova variável junto com a frunção drop
df = df.drop("NEW", axis=1)
    
    # Segunda forma:
        # É implementar na função drop o método inplace=True
#df.drop("NEW", inplace=True)

In [13]:
# Método para localizar elementos no dataframe o loc[index_linha, Index_coluna]
df.loc["A", "W"]

2.706849839399938

In [18]:
# Usando o método .loc[] para localizar dados no dataframe através do nome da linha e coluna
df.loc[['A','B'],['X','Y', 'Z']]

          X         Y         Z
A  0.628133  0.907969  0.503826
B -0.319318 -0.848077  0.605965

In [17]:
# Usando o método .iloc[] para localizar os dados através de index de localização
df.iloc[1:4, 2:]

          Y         Z
B -0.848077  0.605965
C  0.528813 -0.589001
D -0.933237  0.955057