#### - Função Lambda, Map FIlter e Métodos

In [3]:
# Criando uma função, que calcula o quadrado dos numeros atribuidos
def quard(var):
    return var ** 2

In [8]:
# Outra forma de criar sem a questão de intentação e de forma reduzida
def quard(x): return x ** 3

In [9]:
quard(25)

15625

In [11]:
# Criando um função de forma reduzida usando a método lambda 
lambda num: num ** 2

In [15]:
# Criando uma lista de valores
seq = [1, 2, 3, 4, 5]

# Criando o método map
map(quard, seq)

In [19]:
# Executando o método e nesse caso temos que converter em uma lista
list(map(quard, seq))

[1, 8, 27, 64, 125]

In [20]:
# Executando o método e nesse caso estamos convertendo os valores em uma tupla
tuple(map(quard, seq))

(1, 8, 27, 64, 125)

In [21]:
# Posso criar o método map atribuindo nele diretamente uma função lambda 
list(map(lambda x: x ** 2, seq))

[1, 4, 9, 16, 25]

In [23]:
# Convetendo uma lista e implementando o método filter 
# A função criada ela faz o print apenas dos valores que tem divisão exata
list(filter(lambda item: item%2==0, seq))

[2, 4]

In [26]:
# Convetendo uma lista e implementando o método filter 
# A função criada ela faz o print apenas dos valores que não tem divisão exata
list(filter(lambda item: item%2!=0, seq))

[1, 3, 5]

In [28]:
# Criando uma string
str = "Olá, me chamo Ismael"; str

'Olá, me chamo Rodrigo'

In [29]:
# Executando um método na string, para converter tudo em minúsculo
str.lower()

'olá, me chamo rodrigo'

In [30]:
# Executando um método na string, para converter tudo em maiúsculo
str.upper()

'OLÁ, ME CHAMO RODRIGO'

In [31]:
# Executando métodos de strings e nesse caso vamos converter a string em uma lista
str.split()

['Olá,', 'me', 'chamo', 'Rodrigo']

In [33]:
# Executando métodos de strings e nesse caso vamos converter a string em uma lista parando um parametro de separação
str.split(",")

['Olá', ' me chamo Rodrigo']

In [35]:
# Verificando qual o tamanho da lista (ou string) com o método len()
len(str.split())

4

In [37]:
# Verificando qual o tamanho da lista (ou string) com o método len() e passando um parâmetro de separação
len(str.split(","))

2

In [45]:
# Criando uma lista qualquer
lista_q = [1, 35, 48, 65, 455]
# Utilizando o método append() para adicionar valores a lista
lista_q.append("Ismael"); lista_q

[1, 35, 48, 65, 455, 'Ismael']

In [46]:
# Utilizando um novo método o pop()
lista_q.pop(); lista_q

[1, 35, 48, 65, 455]

In [47]:
# Utilizando um novo método o pop() agora passando um parâmetro
lista_q.pop(0); lista_q

[35, 48, 65, 455]

In [48]:
# Usando o operador in para verificar se o elemento especificado está contido na lista
x = 65

x in lista_q

True

In [54]:
# Dessa vez observe que x não se trata de uma string verificaremos a seguir
x in ["x", "y", "z"]

False

In [58]:
# Verificando que tipo de objeto é x
type(x)

int

In [59]:
"x" in ["x", "y", "z"]

True