### Series

In [1]:
# Importando bibliotecas do pandas
import numpy as np
import pandas as pd

In [2]:
# Criando uma lista de strings
labels = ["a", "b", "c", "d"]

In [3]:
# Criando uma lista numerica
minha_lista = [10,20,30,40]

# Criando um array
arr = np.array(minha_lista)

# Criando um dicionário
d = {"a":10, "b":20, "c":30, "d":40}

In [4]:
# convertendo em Series
pd.Series(data=minha_lista, index=labels)

a    10
b    20
c    30
d    40
dtype: int64

In [5]:
# Atribuindo a Series a uma variável
series = pd.Series(data=minha_lista, index=labels); series

a    10
b    20
c    30
d    40
dtype: int64

In [6]:
# Visualizando os dados da series 
series["c"]

30

In [7]:
# Atribuindo diferentes variáveis para converter em series
pd.Series(arr, labels)

a    10
b    20
c    30
d    40
dtype: int64

In [9]:
# Atribuindo diferentes variáveis para converter em series
pd.Series([sum, print, len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [11]:
# Criando uma nova series 
ser1 = pd.Series([1, 2, 3, 4], index=["EUA", "Alemanha", "URSS", "Japão"]); ser1

EUA         1
Alemanha    2
URSS        3
Japão       4
dtype: int64

In [15]:
# Criando uma nova series
ser2 = pd.Series([1, 2, 3, 4], index=["EUA", "Alemanha", "Itália", "Japão"]); ser2

EUA         1
Alemanha    2
Itália      3
Japão       4
dtype: int64

In [16]:
# Efetuando operações com series
ser1 + ser2

Alemanha    4.0
EUA         2.0
Itália      NaN
Japão       8.0
URSS        NaN
dtype: float64