### DataFrames - Indices Multiniveis

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Níveis de Índice
outside = ["G1", "G1", "G1", "G2", "G2", "G2"]
inside = [1, 2, 3, 1, 2, 3]

# Criando uma lista de tuplas com o método zip()
hier_index = list(zip(outside, inside))

# Criando um objeto com index Multiniveis 
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [3]:
# Criando uma lista de tuplas
hier_index = list(zip(outside, inside)); hier_index

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [4]:
# Criando um objeto com index Multiniveis 
hier_index = pd.MultiIndex.from_tuples(hier_index); hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [5]:
# Convetervendo o objeto anterior em um dataframe
df = pd.DataFrame(np.random.randn(6,2), index=hier_index, columns=["A", "B"]); df

             A         B
G1 1  1.235903  1.815569
   2  0.473392  1.529298
   3  0.829492  0.620635
G2 1 -0.855556 -0.477696
   2  2.017934  0.767197
   3  0.926520 -1.260109

In [6]:
# Efetuando consultas no dataframe
df.loc["G1"]

          A         B
1  1.235903  1.815569
2  0.473392  1.529298
3  0.829492  0.620635

In [7]:
# Efetuando consultas em um dataframe 
df.loc["G1"].loc[1]

A    1.235903
B    1.815569
Name: 1, dtype: float64

In [9]:
# Criando nomes para os index das colunas
df.index.names = ["Grupo", "Número"]; df

                     A         B
Grupo Número
G1    1       1.235903  1.815569
      2       0.473392  1.529298
      3       0.829492  0.620635
G2    1      -0.855556 -0.477696
      2       2.017934  0.767197
      3       0.926520 -1.260109

In [10]:
# Efetuando uma nova forma de consulta em um dataframe multiniveis
df.xs("G1")

               A         B
Número
1       1.235903  1.815569
2       0.473392  1.529298
3       0.829492  0.620635

In [11]:
# Efetuando uma nova forma de consulta em um dataframe multiniveis
df.xs(1, level="Número")

              A         B
Grupo
G1     1.235903  1.815569
G2    -0.855556 -0.477696

              A         B
Grupo
G1     1.235903  1.815569
G2    -0.855556 -0.477696