### Métodos de Entranda e Saída de Dados

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("/home/quant/Documents/2 - ASIMOV - Python-para-data-science-e-machine-learning/Python-Data-Science-and-Machine-Learning-Bootcamp/2. Python para análise de dados/Pandas/exemplo"); df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [3]:
# Podemos fazer operações com o dataframes
df = df + 1; df

    a   b   c   d
0   1   2   3   4
1   5   6   7   8
2   9  10  11  12
3  13  14  15  16

In [4]:
# Podemos salvar esse arquivo com o método .to_csv("nome_do_arquivo.csv", sep=";", decimal=",")
df.to_csv("nome do arquivo.csv", sep=";", decimal=",")

In [10]:
# Lendo arquivo do excel
df = pd.read_excel("Exemplo_Excel.xlsx"); df

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15

In [12]:
# Usando o métod read_html(), para ler tabela de sites
df = pd.read_html("https://pt.wikipedia.org/wiki/Banco_Central_do_Brasil"); df

[    0                                                  1
 0 NaN  Esta página cita fontes, mas que não cobrem to...,
                         Banco Central do Brasil  \
 0                                           NaN
 1                                           NaN
 2   Edifício-sede do Banco Central, em Brasília
 3                                   Organização
 4                             Natureza jurídica
 5                                        Chefia
 6                                   Localização
 7                        Jurisdição territorial
 8                                          Sede
 9                                     Histórico
 10                                      Criação
 11                            Sítio na internet
 12                               www.bcb.gov.br

                             Banco Central do Brasil.1
 0                                                 NaN
 1                                                 NaN
 2         Edifício-sede do Banco Central, em Brasília
 3                                         Organização
 4                                  Autarquia especial
 5                                 Roberto Campos Neto
 6                                         Localização
 7                                            Nacional
 8   SBS, Quadra 03, Bloco B, Edifício Sede - Brasí...
 9                                           Histórico
 10                   31 de dezembro de 1964 (58 anos)
 11                                  Sítio na internet
 12                                     www.bcb.gov.br  ,
            Unidade                                           Endereço  \
 0  Brasília (sede)  Setor Bancário Sul (SBS) Quadra 3 Bloco B - Ed...
 1            Belém  Boulevard Castilhos França, 708. Campina. Belé...
 2   Belo Horizonte  Av. Álvares Cabral, 1605. Santo Agostinho. Bel...
 3         Curitiba  Av. Cândido de Abreu, 344. Centro Cívico. Curi...
 4        Fortaleza  Av. Heráclito Graça, 273. Centro. Fortaleza - ...
 5     Porto Alegre  Rua 7 de Setembro, 586. Centro. Porto Alegre -...
 6           Recife  Rua da Aurora, 1259. Santo Amaro. Recife - PE ...
 7         Salvador  1ª avenida, 160. Centro Administrativo da Bahi...
 8        São Paulo  Av. Paulista, 1804. Bela Vista. São Paulo - SP...
 9   Rio de Janeiro  Av. Presidente Vargas, 730. Centro. Rio de Jan...

                  CNPJ
 0  00.038.166/0001-05
 1  00.038.166/0002-88
 2  00.038.166/0003-69
 3  00.038.166/0004-40
 4  00.038.166/0005-20
 5  00.038.166/0006-01
 6  00.038.166/0007-92
 7  00.038.166/0008-73
 8  00.038.166/0009-54
 9  00.038.166/0010-98  ,
       vdeTópicos sobre o Brasil  \
 0                      História
 1                      Política
 2                     Geografia
 3                      Economia
 4                Infraestrutura
 5                       Cultura
 6  Portal WikiProjeto Categoria

                          vdeTópicos sobre o Brasil.1  \
 0  Cronologia Periodização Pré-descobrimento (ant...
 1  Governo Administração pública Sistema jurídico...
 2  Território Fusos horários Hidrografia Clima Li...
 3  Moeda Banco central Agricultura Indústria Ener...
 4  Saúde Educação Comunicações Transportes Ciênci...
 5  Artes Cinema Culinária Esporte Feriados Folclo...
 6                       Portal WikiProjeto Categoria

     vdeTópicos sobre o Brasil.2
 0                           NaN
 1                           NaN
 2                           NaN
 3                           NaN
 4                           NaN
 5                           NaN
 6  Portal WikiProjeto Categoria  ,
      vdeEconomia do Brasil                            vdeEconomia do Brasil.1
 0                    Geral  Estatais Privatização Problemas econômicos Tri...
 1                 História  Fases Ciclo do pau-brasil Ciclo do açúcar Drog...
 2                    Fases  Ciclo do pau-brasil Ciclo do açúcar Drogas do ...
 3                  Setores             Agricultura Industrialização Mineração
 4  Planejamento  econômico  Avança Brasil Brady Brasil de Todos Brasil em ...
 5                  Setores  Agricultura e agronegócio Armazenagem Irrigaçã...
 6       Economia  regional  Regiões Centro-Oeste Nordeste Norte Sudeste Su...
 7                  Regiões            Centro-Oeste Nordeste Norte Sudeste Sul
 8    Unidades  federativas  Acre Alagoas Amapá Amazonas Bahia Ceará Distri...
 9              Indicadores  Desemprego Dívida pública Externa Inflação Pro...,
          0                                                  1
 0    Fases  Ciclo do pau-brasil Ciclo do açúcar Drogas do ...
 1  Setores             Agricultura Industrialização Mineração,
                        0                                                  1
 0                Regiões            Centro-Oeste Nordeste Norte Sudeste Sul
 1  Unidades  federativas  Acre Alagoas Amapá Amazonas Bahia Ceará Distri...,
        vdeSistema financeiro do Brasil  \
 0                    Órgãos normativos
 1                   Órgãos de recursos
 2                Órgãos fiscalizadores
 3  Bolsas de valores e  de mercadorias
 4               Instituições especiais
 5                     Índices de ações
 6                      Órgãos extintos
 7                            Categoria

                    vdeSistema financeiro do Brasil.1
 0  Conselho Monetário Nacional Conselho Nacional ...
 1  Conselho de Recursos do Sistema Financeiro Nac...
 2  Banco Central do Brasil Comissão de Valores Mo...
 3  B3 Bolsa de Valores do Rio de Janeiro Bolsa de...
 4  Caixa Econômica Federal Banco do Brasil Banco ...
 5                   Ibovespa IBrX IBrX50 IBrX100 IGC
 6  Secretaria de Previdência Complementar Conselh...
 7                                          Categoria  ,
   vdeMoedas e cédulas do Real  \
 0                     Tópicos
 1      Moedas por denominação
 2     Cédulas por denominação
 3                 Relacionado

                        vdeMoedas e cédulas do Real.1
 0  Casa da Moeda do Brasil • Banco Central do Bra...
 1  R$ 0,01 (inativa) • R$ 0,05 • R$ 0,10 • R$ 0,2...
 2  R$ 1 • R$ 2 • R$ 5 • R$ 10 • R$ 20 • R$ 50 • R...
 3                                "Deus seja louvado"  ,
   vdePrêmio Faz Diferença do jornal O Globo — Economia  \
 0  Antonio Palocci (2003) Celso Amorim (2004) Jor...
 1                           Página oficial do prêmio

   vdePrêmio Faz Diferença do jornal O Globo — Economia.1
 0  Antonio Palocci (2003) Celso Amorim (2004) Jor...
 1                           Página oficial do prêmio      ,
                                vde Bancos no Brasil  \
 0   Ordenados por tamanho (segundo o Banco Central)
 1                                    Maiores bancos
 2                         Bancos de desenvolvimento
 3                               Bancos comunitários
 4                           Cooperativas de crédito
 5                            Bancos de investimento
 6                                   Bancos digitais
 7                          Bank as a Service (BaaS)
 8                                     Outros bancos
 9                               Entidades bancárias
 10                             Redes interbancárias
 11                                        Categoria

                                vde Bancos no Brasil.1
 0     Ordenados por tamanho (segundo o Banco Central)
 1   Públicos: Banco do Brasil Caixa Econômica Fede...
 2   Público federal: BNDES Públicos estaduais: BAN...
 3           Banco de Negócios Inclusivos Banco Palmas
 4                Ailos Bancoob Sicoob Sicredi Unicred
 5                             Banco Modal BTG Pactual
 6   Agibank Banco BS2 Banco Digimais Banco Digio B...
 7                                             S3 Bank
 8   Públicos federais: Banco da Amazônia Banco do ...
 9                               ANBID ANBIMA FEBRABAN
 10             Banco24Horas Saque e Pague Cirrus Plus
 11                                          Categoria  ,
                         0                                                  1
 0  Controle de autoridade  : Q806186  WorldCat VIAF: 135779962 BMT: 13171...,
     0                                                  1
 0 NaN  Este artigo sobre um banco ou instituição fina...]

In [17]:
df[2][["Unidade"]]

           Unidade
0  Brasília (sede)
1            Belém
2   Belo Horizonte
3         Curitiba
4        Fortaleza
5     Porto Alegre
6           Recife
7         Salvador
8        São Paulo
9   Rio de Janeiro